#!/bin/bash
#
# SmartClock: Configuration
# Configuration template file
#
# For coding style, tries to follow https://google.github.io/styleguide/shellguide.html
# For License information, see included LICENSE
#

# Clock IP
# shellcheck disable=SC2034
readonly CLOCK_IP=
