#!/bin/bash
#
# SmartClock Configuration
#
# Copy this file to config.sh and set your IP there
#

# Clock IP
# shellcheck disable=SC2034
readonly CLOCK_IP=

# file to keep track of power state
TOGGLE=/tmp/.toggle-smartclock-power
