# SmartClock example cron config

SHELL = /bin/bash
PATH = /sbin:/usr/sbin:/bin:/usr/bin
smartclock_operate = /path/to/smartclock_operate
smartclock_power = /path/to/smartclock_power

# m  h    dom mon dow     user        command
0    *     *   *   *      r0max    $smartclock_operate chdir-self chdir-to ../.. subdirs-setsid >/dev/null
5    2     *   *   *      r0max    $smartclock_power off chdir-self chdir-to ../.. subdirs-setsid >/dev/null
55   5     *   *   *      r0max    $smartclock_power on chdir-self chdir-to ../.. subdirs-setsid >/dev/null

# Copy CRON.example to /etc/cron.d/smartclock and chown to root:root
